 <!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>Gamification Portal</title>

    <!--INJECT_CSS-->
  </head>
  <body>
    <div id="AllContent" ng-app="Game" ng-controller="AppController as app">
      <ul class="MainMenu">
        <li ng-repeat="item in app.menuItems"><a href="/#{{ item.path }}">{{ item.name }}</a></li>
      </ul>
      <div class="MainContent" ng-view></div>
    </div>

    <!--INJECT_JS-->
  </body>
</html>