<h1>Gamification with TakeLessons</h1>

<pre  style="font-family:  monospace;">


                                                  @@@@@@@@@@@@@@@@                  
                                            @@@@@@@@@@@@@@@@@@@@@@@@@@              
                                        @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@            
                                    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@          
                                 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@          
                              @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@        
                           @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@        
                         @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@        
                       @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@      
                     @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@      
                    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@      
                  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@      
                  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@    
                @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@    
                @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@      @@@@@@@@@@@    
                @@@@@@@@@@@@@@@@@@@@@@  @@@@@@@@@@@@@@@@@@@@           @@@@@@@@@    
               @@@@@@@@@@@@@@@@@@@@       @@@@@@@@@@@@@@@@              @@@@@@@@    
               @@@@@@@@@@@@@@@@@@@        @@@@@@@@@@@@@@                @@@@@@@@    
               @@@@@@@@@@@@@@@@@@@        @@@@@@@@@@@@@       @@@@      @@@@@@@@    
               @@@@@@@@@@@@@@@@@@@        @@@@@@@@@@@@       @@@@@      @@@@@@@@    
                @@@@@@@@@@@@@@@@@@        @@@@@@@@@@@@      @@@@@@      @@@@@@@@    
                @@@@@@@@@@@@@@----        -------@@@@      @@@@@@@      @@@@@@@@    
                 @@@@@@@                          @@@     @@@@@@@       @@@@@@@    
                  @@@@@@                          @@      @@@@@@       @@@@@@@@
                   @@@@@@@@@             @@@@@@@@@@@      @@@@@       @@@@@@@@@      
                    @@@@@@@@@@@@         @@@@@@@@@@@       @@        @@@@@@@@@      
                     @@@@@@@@@@@        @@@@@@@@@@@@                @@@@@@@@@@      
                      @@@@@@@@@@        @@@@@@@@@@@@              @@@@@@@@@@@@      
                        @@@@@@@@        @@@@@@@@@@@@             @@@@@@@@@@@@        
                         @@@@@@@        @@@@@@@@@@@@            @@@@@@@@@@@@        
                          @@@@@@        @@@@@@@@@@@@          @@@@@@@@@@@@@        
                            @@@@        @@@@@@@@@@@@        @@@@@@@@@@@@@@          
                              @@@       @@@@@@@@@@@@        @@@@@@@@@@@@@            
                                @@         @@@@@@           @@@@@@@@@@@            
                                                              @@@@@@        
</pre>